.header {
    height: 5rem;
    background-color: #44475a;
    padding: 1rem;

}

.header_content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  white;
}

.header_content h1 {
    font-size: 3.3rem;
    font-weight: 600;
    font-family: Poppins;
}

.mainContent {
    font-family: Poppins;
    height: 100%;
}

.formarea {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    
}

.hideMe {
    transition: all 1s;
}

.formarea .hide {
    background-color: #44475a;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    color: #8be9fd;
    font-weight: bold;
    cursor: pointer;
   
}

.hide:focus {
    outline: none;
    
}

.overflowxnone {
    overflow-x: hidden;
}

.displaynone {
    transform: translateX(999%);
    position: absolute;
}

.displayblock {
    display: block;
}

.formarea .input-block + .input-block{
    margin: 1rem 0;
}

.formarea .input-block input, .formarea .input-block select, .formarea .input-block textarea {
    width: 100%;
    font-family: Poppins;
   resize: none
}

.formarea .input-block textarea {
    height: 20rem;
}

.formarea .input-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.formarea .input-block label {
    cursor: pointer;
    color: #ff5555;
}
.formarea .input-block input, .formarea .input-block select, .formarea .input-block textarea  {
    padding: 1rem;
    color: #50fa7b;
    margin: 1rem;
    border-radius: 1rem;
    background-color: #44475a;
    font-size: inherit;
}

.formarea .input-block textarea:focus{
    outline: none;
}

.formarea .input-block input:focus, .formarea .input-block select:focus,
.formarea form input:last-child:focus, .formarea form input[type="button"]:focus{
    outline: none;
}
.formarea form input:last-child, .formarea form input[type="button"]{
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #44475a;
    font-size: inherit;
}

#clear, #register {
    color: #ffb86c;
    cursor: pointer;
}

.cardarea {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.cardarea .card {
    width: 300px;
    height: 300px;
    margin: 1rem;
}

.cardarea .card .cardheader {

    margin-bottom: 1rem;
  
}

.cardarea .card .cardheader .cardheader_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #44475a;
    padding: 1rem;
    border-radius: 1rem;
} 

.cardarea .card .cardheader .cardheader_content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #ff5555;
    font-weight: bold;
}

.cardarea .card .cardheader .cardheader_content span {
    font-size: 1.5rem;
    color: white;
    letter-spacing: 0.rem;
}

.cardarea .card .cardbody {
    height: 50%;
    background-color: #6272a4;
    border-radius: 1rem;
}

.cardarea .card .cardbody p {
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
}

@media (min-width: 800px) {
    .formarea {
        justify-content: unset;
    }

    .formarea .input-block{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: unset;
    }

    #formchore {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        }
}
    
